
@{
    ViewBag.Title = "ManageArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Articles</h2>

<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Links</th>
        <th>Owner</th>
        <th>Date</th>
        <th>What To Do</th>
    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
 
        <td>jes morgen</td>
        <td>20/10/2015 : 12:16:20</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateArticle", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>


    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>

        <td>jes morgen</td>
        <td>20/10/2015 : 12:16:20</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateArticle", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>


    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>

        <td>jes morgen</td>
        <td>20/10/2015 : 12:16:20</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateArticle", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>


    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>

        <td>jes morgen</td>
        <td>20/10/2015 : 12:16:20</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateArticle", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>


    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>

        <td>jes morgen</td>
        <td>20/10/2015 : 12:16:20</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateArticle", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>



    </table>


<center>

    <nav>
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    </center>
    <br />
    <br />
