
@{
    ViewBag.Title = "ManageGame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Manage All Games</h2>
<br /><br />
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Rate</th>
        <th>Owner</th>
        <th>Price</th>
        <th>What To Do</th>
    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td> <div class="ratings">
 
    <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </p>
</div></td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td> <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-success">Confirm</button>
     @Html.ActionLink("Edit", "UpdateGame", "admin",null, new { @class = "btn btn-primary" })
    <button type="button" class="btn btn-danger">Delete</button>
</div> </td>
    </tr>

    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td>
            <div class="ratings">

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateGame", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>

    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td>
            <div class="ratings">

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateGame", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>

    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td>
            <div class="ratings">

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateGame", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>

    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td>
            <div class="ratings">

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateGame", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>

    </tr>

    <tr>
        <td>Go Live Hunger</td>
        <td>www.golive.net</td>
        <td>
            <div class="ratings">

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </td>
        <td>jes morgen</td>
        <td>240 $</td>
        <td>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-success">Confirm</button>
                @Html.ActionLink("Edit", "UpdateGame", "admin", null, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </td>
    </tr>
</table>

<center>

<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li class="active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

    </center>
        <br /><br />
